
#joystickContainer {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    touch-action: none;
}

.joystick {
    position: absolute;
    left: 50px;
    top: 50px;

    width: 60px;
    height: 60px;

    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.pauseBtn {
    position: absolute;
    right: 5%;
    top: 5%;

    width: 60px;
    height: 60px;

    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

    cursor: pointer;

    & span {
        font-size: 40px;
    }
}

.shiftBtn {
    position: absolute;
    right: 50px;
    bottom: 100px;
    
    width: 300px;
    height: 60px;
    
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    
    cursor: pointer;
    
    & span {
        font-size: 40px;
        color: rgba(255, 255, 255, 0.5)
    }
}