<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ it.title }}</title>

    <meta name="supported-color-schemes" content="light dark">
    <meta name="theme-color" content="hsl(220, 20%, 100%)" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="hsl(220, 20%, 10%)" media="(prefers-color-scheme: dark)">

    <link rel="stylesheet" href="/sass/style.css">
    <link rel="stylesheet" href="/sass/game.css">
    <link rel="stylesheet" href="/sass/controls.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/fireico.png">
    <link rel="canonical" href="http://localhost/">
    
	<meta property="og:type" content="website">
	<meta property="og:title" content="Lume Game">
	<meta property="og:url" content="http://localhost/">
	<meta property="og:image" content="http://localhost/avatar.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="generator" content="Lume v2.2.2">
	<link rel="icon" sizes="48x48" href="/fireico.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
</head>
<body>
    {{ it.content }}
</body>
</html>
